.circle {
    height: 50px;
    width: 50px;
    background-color: #699;
    border-radius: 50%
}

.square {
    height: 50px;
    width: 50px;
    background-color: #993;

}

.triangle {

    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #911;
}

